/*******************************
      Blesk Notifications
*******************************/
#blesk .bleskOuter {
  border-color: var(--neutral-100);
  border-radius: 0;
  border-width: 0 0 1px 0;
  font-family: inherit;
  margin: 0;
  padding: var(--space-2);
  z-index: 1;
}

#blesk .bleskOuter > strong {
  line-height: var(--text-4);
}

#blesk .blesk-ui-info {
  background-color: var(--blue-050);
  color: var(--blue-500);
}

#blesk .blesk-ui-alert {
  background-color: var(--red-050);
  color: var(--red-500);
}
